.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* datamaps styles */
#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* modal */
.modal-title, .modal-body {
  color: black;
}

iframe, object, embed {
  max-width: 100%;
}

/* Nav */
ol, ul {
  list-style: none;
}

nav#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px;
}
nav#primary li {
  position: relative;
  height: 20px;
}
nav#primary a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
  background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
  position: absolute;
  right: 22px;
  top: -7px;
  display: none;
  padding: 4px 20px 4px 7px;
  color: #fff;
  white-space: nowrap;
  background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
  margin: 0;
  font: inherit;
}

/* foreground (ballons/landscape) */
#parallax-bg3 {
  z-index: -1;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 940px;
  margin-left: -470px; /* move left by half element's width */
}
/* balloon */
#bg3-1 {
  position: absolute;
  top: -111px;
  left: 355px;
}
#bg3-2 {
  position: absolute;
  top: 812px;
  left: 321px;
}
#bg3-3 {
  position: absolute;
  top: 1628px;
  left: 403px;
}
#bg3-4 {
  position: absolute;
  top: 2700px;
  left: -85px;
}

/* midground (clouds) */
#parallax-bg2 {
  z-index: -2;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
}
#bg2-1 {
  position: absolute;
  top: 162px;
  left: 200px;
}
#bg2-2 {
  position: absolute;
  top: 300px;
  left: 1150px;
}
#bg2-3 {
  position: absolute;
  top: 543px;
  left: -35px;
}
#bg2-4 {
  position: absolute;
  top: 1180px;
  left: 250px;
}
#bg2-5 {
  position: absolute;
  top: 900px;
  left: 890px;
}

/* background (clouds) */
#parallax-bg1 {
  z-index: -3;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
}
#bg1-1 {
  position: absolute;
  top: 85px;
  left: -270px;
}
#bg1-2 {
  position: absolute;
  top: 440px;
  left: 795px;
}
#bg1-3 {
  position: absolute;
  top: 900px;
  left: -220px;
}
#bg1-4 {
  position: absolute;
  top: 1020px;
  left: 450px;
}

/* cover template styles */
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  width: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.marketing .col-lg-6 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 60px;
}
.marketing .col-lg-6 img {
  box-shadow: 0px 0px 30px #ffff00;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
  .featurette-heading {
    margin-top: 120px;
  }
}
